@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,400;9..40,500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'DM Sans', sans-serif; }

nav {
  background-color: #62A1D9; }
  nav div {
    width: 6.25rem; }
    nav div img {
      width: 6.25rem;
      height: 6.25rem; }
  nav li {
    display: inline-block;
    padding: 0 1.25rem; }
    nav li a {
      font-size: 1.875rem;
      color: white;
      text-decoration: none; }

footer {
  width: 100%;
  bottom: 0;
  left: 0;
  padding: 2rem 8%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }
  footer img {
    width: 100%;
    height: 100%;
    width: 9.375rem;
    height: 9.375rem; }
  footer div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 1rem; }
    footer div a {
      height: 5rem;
      width: 5rem;
      border-radius: 3.125rem;
      border: .0625rem solid black;
      background-image: url(../assets/img/facebook.png);
      background-position: center;
      background-size: 40%;
      background-repeat: no-repeat;
      margin: 1rem;
      background-color: #62A1D9; }
      footer div a:nth-of-type(2) {
        background-image: url(../assets/img/instagram.png); }
      footer div a:nth-of-type(3) {
        background-image: url(../assets/img/twitter.png); }
  footer ul {
    list-style: none;
    color: #62A1D9;
    font-size: 1.125rem; }
    footer ul a {
      margin: 1rem 1.5rem;
      cursor: pointer;
      list-style: none;
      color: black;
      font-size: 1.125rem;
      text-decoration: none; }

.main-index {
  background-color: #7F6DF2; }

.section-principal {
  display: flex;
  flex-direction: row-reverse;
  font-size: 1.5625rem;
  width: 100%;
  height: 21.875rem;
  background-color: #352f593d;
  padding: 1.25rem; }
  .section-principal div {
    width: 31.25rem;
    height: 18.75rem;
    display: flex;
    flex-direction: column;
    padding: 1.25rem; }
    .section-principal div h1, .section-principal div p {
      text-align: justify;
      font-size: 1.875rem; }
    .section-principal div button {
      border-radius: 1.875rem;
      border: #62A1D9;
      box-shadow: #352F59;
      font-size: 1.5625rem;
      background-color: #7F6DF2;
      margin: 20px 1.25rem;
      padding: 1.25rem 1.875rem; }
      .section-principal div button a {
        color: black;
        text-decoration: none; }
  .section-principal :nth-child(2) {
    display: flex;
    flex-flow: row;
    width: 100%;
    height: 18.75rem; }
    .section-principal :nth-child(2) img {
      width: 100%;
      height: 100%; }

.index-banner {
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding: 1.25rem; }
  .index-banner div {
    width: 18.75rem;
    height: 18.75rem; }
    .index-banner div img {
      width: 100%;
      height: 100%; }

.index-nosotros, .info-logo {
  width: 100%;
  height: 21.875rem;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: none;
  background-color: #2526402f;
  text-align: left;
  margin: .625rem .625rem; }
  .index-nosotros section:nth-child(1) h2, .info-logo section:nth-child(1) h2 {
    font-size: 1.875rem;
    color: black;
    padding: 0%; }
  .index-nosotros section:nth-child(1) p, .info-logo section:nth-child(1) p {
    color: black;
    padding: 0%;
    font-size: 1.25rem; }

body {
  color: #272727;
  font-family: 'Quicksand', serif;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0; }

.card-contenedor {
  max-width: 1200px;
  margin: 0 auto; }
  .card-contenedor ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0; }

.cards-item {
  display: flex;
  padding: 1rem; }
  .cards-item div {
    background-color: white;
    border-radius: 0.25rem;
    box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    overflow: hidden;
    align-items: center; }
    .cards-item div:nth-child(1) img {
      height: 18.75rem;
      max-width: 100%;
      vertical-align: middle;
      object-fit: cover; }
    .cards-item div:nth-child(2) {
      padding: 1rem;
      background: linear-gradient(to bottom left, #252640 40%, #7F6DF2 100%); }
      .cards-item div:nth-child(2) h2 {
        color: #ffffff;
        font-size: 1.1rem;
        font-weight: 700;
        letter-spacing: 1px;
        text-transform: capitalize;
        margin: 0px; }
      .cards-item div:nth-child(2) p {
        color: #ffffff;
        font-size: 0.875rem;
        line-height: 1.5;
        margin-bottom: 1.25rem;
        font-weight: 400; }
      .cards-item div:nth-child(2) button {
        color: #ffffff;
        padding: 0.8rem;
        font-size: 14px;
        text-transform: uppercase;
        border-radius: 4px;
        font-weight: 400;
        display: block;
        width: 100%;
        cursor: pointer;
        border: 1px solid rgba(255, 255, 255, 0.2);
        background: transparent; }
        .cards-item div:nth-child(2) button a {
          text-decoration: none;
          color: white; }

.info-contenedor {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: none; }
  .info-contenedor section {
    background-color: rgba(240, 248, 255, 0.507);
    width: 21.875rem;
    height: 12.5rem;
    margin: 2.5rem;
    box-shadow: 2px 2px 5px grey;
    text-align: center; }

.main-sucursales {
  background-color: #7F6DF2; }

.sucursales-ubicaciones h1 {
  color: black;
  text-align: center;
  font-size: 1.875rem; }

.sucursales-banner {
  width: 100%;
  height: 100%; }
  .sucursales-banner img {
    width: 100%;
    height: 31.25rem;
    padding: 1.25rem; }

.iframe-contenedor {
  background-color: #352f59ab;
  max-width: 1200px;
  margin: 0 auto; }
  .iframe-contenedor ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0; }

.cards-iframe {
  display: flex;
  padding: 1rem; }
  .cards-iframe div {
    border-radius: 0.25rem;
    box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    overflow: hidden;
    align-items: center;
    padding: 1rem; }
    .cards-iframe div:nth-child(1) iframe {
      height: 12.5rem;
      max-width: 100%;
      vertical-align: middle;
      object-fit: cover; }
    .cards-iframe div:nth-child(2) {
      padding: 1rem;
      background: linear-gradient(to bottom left, #b86ad9da 40%, #7F6DF2 100%); }
      .cards-iframe div:nth-child(2) h2 {
        color: black;
        font-size: 1.1rem;
        font-weight: 700;
        letter-spacing: 1px;
        text-transform: capitalize;
        margin: 0px; }
      .cards-iframe div:nth-child(2) p {
        color: black;
        font-size: 0.875rem;
        line-height: 1.5;
        margin-bottom: 1.25rem;
        font-weight: 400; }
      .cards-iframe div:nth-child(2) button {
        color: #ffffff;
        padding: 0.8rem;
        font-size: 14px;
        text-transform: uppercase;
        border-radius: 4px;
        font-weight: 400;
        display: block;
        width: 100%;
        cursor: pointer;
        border: 1px solid rgba(255, 255, 255, 0.2);
        background: transparent; }
        .cards-iframe div:nth-child(2) button a {
          text-decoration: none;
          color: white; }

.main-contactanos {
  background-color: #62A1D9; }

.contenedor-form {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center; }
  .contenedor-form div:nth-child(1) h1 {
    font-size: 1.875rem; }
  .contenedor-form div:nth-child(2) form {
    padding: 3.125rem 3.4375rem;
    box-shadow: 0 0 1.25rem black;
    border-radius: 1.25rem;
    align-items: center;
    width: 37.5rem;
    background-color: #7F6DF2; }
    .contenedor-form div:nth-child(2) form div:nth-child(1) {
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      justify-content: none;
      align-items: none;
      text-align: left; }
      .contenedor-form div:nth-child(2) form div:nth-child(1) label {
        height: .9375rem;
        color: #000;
        font-weight: 600;
        margin-bottom: 1.25rem; }
      .contenedor-form div:nth-child(2) form div:nth-child(1) textarea, .contenedor-form div:nth-child(2) form div:nth-child(1) input, .contenedor-form div:nth-child(2) form div:nth-child(1) button {
        padding: 1.0625rem 1.5625rem;
        border-radius: 1.5625rem;
        margin-bottom: 1.25rem;
        background-color: #62a2d975;
        border: .125rem solid; }
    .contenedor-form div:nth-child(2) form div:nth-child(2) {
      margin-bottom: 1.875rem;
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      justify-content: space-between;
      align-items: none;
      text-align: center; }
      .contenedor-form div:nth-child(2) form div:nth-child(2) a {
        color: #252640;
        font-size: .875rem;
        font-weight: 600;
        text-decoration: none; }
    .contenedor-form div:nth-child(2) form input, .contenedor-form div:nth-child(2) form button {
      font-size: 1rem;
      color: black;
      border: 0;
      border-radius: 1.5625rem;
      background-color: #62a2d975;
      box-shadow: 0 0 1.25rem #62a2d956; }
    .contenedor-form div:nth-child(2) form button {
      border: .125rem solid;
      padding: 1.875rem; }

.main-productos {
  background-color: #252640; }

.carrito-main {
  background-color: #B86AD9; }

.carrito-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: none;
  width: 100%;
  background: linear-gradient(to bottom left, #62A1D9 60%, #7F6DF2 100%); }
  .carrito-container section {
    max-width: 75rem;
    margin: 1.25rem;
    padding: 1rem;
    background: linear-gradient(to bottom left, #252640 40%, #7F6DF2 100%);
    background-color: #25264093;
    width: 100%;
    height: 12.5rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: none; }
    .carrito-container section div:nth-child(1) {
      width: 15.625rem;
      height: 18.75rem; }
      .carrito-container section div:nth-child(1) img {
        width: 100%;
        height: 80%; }
    .carrito-container section :nth-child(2) {
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      justify-content: space-around;
      align-items: left; }
      .carrito-container section :nth-child(2) h1 {
        color: white; }
      .carrito-container section :nth-child(2) h2 {
        color: white; }
    .carrito-container section :nth-child(3) {
      display: flex;
      flex-direction: row;
      align-items: center; }
      .carrito-container section :nth-child(3) button img {
        width: 2.5rem;
        height: 2.5rem;
        color: black;
        text-decoration: none; }
      .carrito-container section :nth-child(3) input, .carrito-container section :nth-child(3) .contenedor-form div:nth-child(2) form button, .contenedor-form div:nth-child(2) form .carrito-container section :nth-child(3) button, .carrito-container section :nth-child(3) button {
        width: 2.5rem;
        height: 2.5rem; }
  .carrito-container article {
    display: flex;
    flex-direction: row; }
    .carrito-container article button {
      color: #ffffff;
      padding: 0.8rem;
      font-size: 14px;
      text-transform: uppercase;
      border-radius: 4px;
      font-weight: 400;
      display: block;
      width: 100%;
      cursor: pointer;
      border: 1px solid rgba(255, 255, 255, 0.2);
      background: linear-gradient(to bottom left, rgba(255, 255, 255, 0.445) 40%, #7f6df26e 100%); }
    .carrito-container article a {
      text-decoration: none;
      color: #252640; }

.carrito-banner {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: none; }
  .carrito-banner div {
    width: 400px;
    margin: 1.25rem;
    padding: .625rem; }
    .carrito-banner div img {
      width: 100%;
      height: 100%; }
  .carrito-banner :nth-child(2) {
    width: 80%; }

.cartel404 {
  height: 100vh;
  display: flex;
  justify-content: center;
  background-color: #7f6df27e; }
  .cartel404 div {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: none;
    align-items: center;
    padding: 2rem 8%; }
    .cartel404 div :nth-child(1) h1 {
      font-size: 1.875rem; }
    .cartel404 div :nth-child(2) p {
      font-size: 1.25rem; }
    .cartel404 div :nth-child(3) p {
      font-size: 1.875rem;
      padding-bottom: .625rem; }
    .cartel404 div :nth-child(3) button {
      color: #ffffff;
      padding: 0.8rem;
      font-size: 14px;
      text-transform: uppercase;
      border-radius: 4px;
      font-weight: 400;
      display: block;
      cursor: pointer;
      border: 1px solid black;
      background: #352f595b; }
      .cartel404 div :nth-child(3) button a {
        text-decoration: none;
        color: black; }

@media (max-width: 1024px) {
  .section-principal {
    display: flex;
    flex-direction: row-reverse;
    max-width: 1200px;
    height: 21.875rem;
    background-color: #352f593d;
    padding: 1.25rem; }
    .section-principal div:nth-child(1) {
      padding: .625rem; }
      .section-principal div:nth-child(1) h1, .section-principal div:nth-child(1) p {
        text-align: justify;
        font-size: 1.25rem; }
      .section-principal div:nth-child(1) button {
        border-radius: 1.875rem;
        border: #62A1D9;
        box-shadow: #352F59;
        font-size: 1.5625rem;
        background-color: #7F6DF2;
        margin: 20px 1.25rem;
        padding: 1.25rem 1.25rem; }
        .section-principal div:nth-child(1) button a {
          font-size: 1.25rem;
          color: black;
          text-decoration: none; }
    .section-principal :nth-child(2) {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: center;
      align-items: none;
      max-width: 100%;
      height: 15.625rem; }
      .section-principal :nth-child(2) img {
        width: 100%; }
  .index-nosotros, .info-logo {
    width: 100%;
    height: 21.875rem;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: none;
    background-color: #2526402f;
    text-align: left;
    margin: .625rem .625rem; }
    .index-nosotros section, .info-logo section {
      margin: 10px; }
    .index-nosotros section:nth-child(1), .info-logo section:nth-child(1) {
      margin: .625rem; }
      .index-nosotros section:nth-child(1) h2, .info-logo section:nth-child(1) h2 {
        font-size: 1.875rem;
        color: black;
        padding: 0%; }
      .index-nosotros section:nth-child(1) p, .info-logo section:nth-child(1) p {
        color: black;
        padding: 0%;
        font-size: 1.25rem; } }

@media (max-width: 768px) {
  .info-contenedor {
    width: 100%;
    display: flex;
    align-items: center; }
    .info-contenedor section {
      background-color: rgba(240, 248, 255, 0.507);
      width: 21.875rem;
      height: 18.75rem;
      margin: .625rem;
      box-shadow: 2px 2px 5px grey;
      text-align: center; }
  .section-principal {
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: nowrap;
    justify-content: none;
    align-items: none;
    background-color: #2526402f;
    text-align: left; }
    .section-principal div:nth-child(1) {
      width: 50%;
      height: 200px; }
      .section-principal div:nth-child(1) h1, .section-principal div:nth-child(1) p {
        text-align: justify;
        font-size: 1rem; }
      .section-principal div:nth-child(1) button {
        border-radius: 1.875rem;
        border: #62A1D9;
        box-shadow: #352F59;
        font-size: 1.5625rem;
        background-color: #7F6DF2; }
        .section-principal div:nth-child(1) button a {
          font-size: 1.25rem;
          color: black;
          text-decoration: none; }
    .section-principal div:nth-child(2) {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      text-align: left;
      padding: 1.25rem;
      object-fit: cover; }
      .section-principal div:nth-child(2) img {
        width: 110px;
        height: 12.5rem; } }

@media (max-width: 425px) {
  .section-principal {
    width: 100%;
    height: 600px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: none;
    align-items: none;
    background-color: #2526402f;
    text-align: left; }
    .section-principal div:nth-child(1) {
      width: 100%;
      height: 200px;
      padding: 1rem; }
      .section-principal div:nth-child(1) h1, .section-principal div:nth-child(1) p {
        text-align: justify;
        font-size: 1.25rem; }
      .section-principal div:nth-child(1) button {
        border-radius: 1.875rem;
        border: #62A1D9;
        box-shadow: #352F59;
        font-size: 1.5625rem;
        background-color: #7F6DF2; }
        .section-principal div:nth-child(1) button a {
          font-size: 1.25rem;
          color: black;
          text-decoration: none; }
    .section-principal div:nth-child(2) {
      width: 100%;
      height: 18.75rem;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: center;
      align-items: center;
      text-align: left;
      padding: 1.25rem;
      object-fit: cover; }
      .section-principal div:nth-child(2) img {
        width: 100px;
        height: 15.625rem; }
  .index-banner {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1.25rem; }
    .index-banner div {
      margin: .625rem;
      width: 18.75rem;
      height: 18.75rem; }
      .index-banner div img {
        width: 100%;
        height: 100%; }
  .index-nosotros {
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: none;
    background-color: #2526402f;
    text-align: left;
    margin: .625rem .625rem; }
    .index-nosotros section {
      width: 100%; }
      .index-nosotros section h2 {
        font-size: 1.25rem;
        color: black;
        padding: 0%; }
      .index-nosotros section p {
        color: black;
        padding: 0%;
        font-size: 1rem; }
    .index-nosotros section:nth-child(2) {
      width: 100%;
      height: 18.75rem;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: center;
      align-items: center;
      background-color: #2526402f;
      text-align: left;
      padding: 1.25rem;
      object-fit: cover; }
      .index-nosotros section:nth-child(2) img {
        width: 150px;
        height: 100%; }
  .ayuda-banner {
    width: 100%;
    height: 100%; }
    .ayuda-banner img {
      width: 100%;
      height: 18.75rem;
      padding: 1.25rem;
      object-fit: contain; }
  .info-contenedor {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center; }
    .info-contenedor section {
      background-color: rgba(240, 248, 255, 0.507);
      width: 21.875rem;
      height: 12.5rem;
      margin: 2.5rem;
      box-shadow: 2px 2px 5px grey;
      text-align: center; }
  .contenedor-form {
    display: flex;
    align-items: center;
    justify-content: center; }
    .contenedor-form div:nth-child(1) h1 {
      font-size: 1.875rem; }
    .contenedor-form div:nth-child(2) form {
      padding: 1rem 1rem;
      box-shadow: 0 0 1.25rem black;
      border-radius: 1.25rem;
      align-items: center;
      width: 25.6875rem;
      background-color: #7F6DF2; }
      .contenedor-form div:nth-child(2) form div:nth-child(1) {
        display: flex;
        flex-direction: column;
        text-align: left; }
        .contenedor-form div:nth-child(2) form div:nth-child(1) label {
          height: .9375rem;
          color: #000;
          font-weight: 600;
          margin-bottom: 1.25rem; }
        .contenedor-form div:nth-child(2) form div:nth-child(1) textarea, .contenedor-form div:nth-child(2) form div:nth-child(1) input, .contenedor-form div:nth-child(2) form div:nth-child(1) button {
          padding: 1.0625rem 1.5625rem;
          border-radius: 1.5625rem;
          margin-bottom: 1.25rem;
          background-color: #62a2d975;
          border: .125rem solid; }
      .contenedor-form div:nth-child(2) form div:nth-child(2) {
        margin-bottom: 1.875rem;
        display: flex;
        justify-content: space-between;
        text-align: center; }
        .contenedor-form div:nth-child(2) form div:nth-child(2) a {
          color: #252640;
          font-size: .875rem;
          font-weight: 600;
          text-decoration: none; }
  .sucursales-banner {
    width: 100%;
    margin: .625rem; }
    .sucursales-banner div img {
      width: 100%;
      height: 100%; } }

.carrito-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: none;
  width: 100%;
  background: linear-gradient(to bottom left, #62A1D9 60%, #7F6DF2 100%); }
  .carrito-container section {
    max-width: 75rem;
    margin: 1rem;
    padding: 1rem;
    background: linear-gradient(to bottom left, #252640 40%, #7F6DF2 100%);
    background-color: #25264093;
    width: 100%;
    height: 12.5rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: none; }
    .carrito-container section div:nth-child(1) {
      width: 6.25rem;
      height: 9.375rem; }
      .carrito-container section div:nth-child(1) img {
        width: 100%;
        height: 80%; }
    .carrito-container section :nth-child(2) {
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      justify-content: center;
      align-items: left; }
      .carrito-container section :nth-child(2) h1 {
        color: white; }
      .carrito-container section :nth-child(2) h2 {
        color: white; }
    .carrito-container section :nth-child(3) {
      display: flex;
      flex-direction: row;
      align-items: center; }
      .carrito-container section :nth-child(3) button img {
        width: 2.5rem;
        height: 2.5rem;
        color: black;
        text-decoration: none; }
      .carrito-container section :nth-child(3) input, .carrito-container section :nth-child(3) .contenedor-form div:nth-child(2) form button, .contenedor-form div:nth-child(2) form .carrito-container section :nth-child(3) button, .carrito-container section :nth-child(3) button {
        width: 2.5rem;
        height: 2.5rem; }
  .carrito-container article {
    display: flex;
    flex-direction: row; }
    .carrito-container article button {
      color: #ffffff;
      padding: 0.8rem;
      font-size: 14px;
      text-transform: uppercase;
      border-radius: 4px;
      font-weight: 400;
      display: block;
      width: 100%;
      cursor: pointer;
      border: 1px solid rgba(255, 255, 255, 0.2);
      background: linear-gradient(to bottom left, rgba(255, 255, 255, 0.445) 40%, #7f6df26e 100%); }
    .carrito-container article a {
      text-decoration: none;
      color: #252640; }

@media (max-width: 320px) {
  .section-principal {
    width: 100%;
    height: 600px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: none;
    align-items: none;
    background-color: #2526402f;
    text-align: left; }
    .section-principal div:nth-child(1) {
      width: 100%;
      height: 200px;
      padding: 1rem; }
      .section-principal div:nth-child(1) h1, .section-principal div:nth-child(1) p {
        text-align: justify;
        font-size: 1rem; }
      .section-principal div:nth-child(1) button {
        border-radius: 1.875rem;
        border: #62A1D9;
        box-shadow: #352F59;
        font-size: 1.5625rem;
        background-color: #7F6DF2; }
        .section-principal div:nth-child(1) button a {
          font-size: 1.25rem;
          color: black;
          text-decoration: none; }
    .section-principal div:nth-child(2) {
      width: 100%;
      height: 25rem;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: none;
      align-items: center;
      text-align: left;
      padding: 1.25rem;
      object-fit: cover; }
      .section-principal div:nth-child(2) img {
        width: 7.5rem;
        height: 9.375rem; }
  .index-nosotros {
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: none;
    background-color: #2526402f;
    text-align: left;
    margin: .625rem .625rem; }
    .index-nosotros section {
      width: 100%; }
      .index-nosotros section h2 {
        font-size: 1.25rem;
        color: black;
        padding: 0%; }
      .index-nosotros section p {
        color: black;
        padding: 0%;
        font-size: 1rem; }
    .index-nosotros section:nth-child(2) {
      width: 100%;
      height: 18.75rem;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: center;
      align-items: center;
      background-color: #2526402f;
      text-align: left;
      padding: 1.25rem;
      object-fit: cover; }
      .index-nosotros section:nth-child(2) img {
        width: 12.5rem;
        height: 12.5rem; }
  .info-contenedor {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center; }
    .info-contenedor section {
      background-color: rgba(240, 248, 255, 0.507);
      width: 100%;
      height: 15.625rem;
      margin: 2.5rem 1.25rem;
      box-shadow: 2px 2px 5px grey;
      text-align: center; }
  footer {
    width: 100%;
    bottom: 0;
    left: 0;
    padding: 2rem 8%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; }
    footer img {
      width: 100%;
      height: 100%;
      width: 6.25rem;
      height: 6.25rem; }
    footer div {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: nowrap;
      margin-bottom: 1rem; }
      footer div a {
        height: 3.75rem;
        width: 3.75rem;
        border-radius: 3.125rem;
        border: .0625rem solid black;
        background-image: url(../assets/img/facebook.png);
        background-position: center;
        background-size: 40%;
        background-repeat: no-repeat;
        margin: 1rem;
        background-color: #62A1D9; }
        footer div a:nth-of-type(2) {
          background-image: url(../assets/img/instagram.png); }
        footer div a:nth-of-type(3) {
          background-image: url(../assets/img/twitter.png); }
    footer ul {
      display: flex;
      flex-direction: column;
      list-style: none;
      color: #62A1D9;
      font-size: 1rem; }
      footer ul a {
        margin: 1rem 1.5rem;
        cursor: pointer;
        list-style: none;
        color: black;
        font-size: 1rem;
        text-decoration: none; }
  .contenedor-form {
    display: flex;
    align-items: center;
    justify-content: center; }
    .contenedor-form div:nth-child(1) h1 {
      font-size: 1.875rem; }
    .contenedor-form div:nth-child(2) form {
      padding: 1rem 1rem;
      box-shadow: 0 0 1.25rem black;
      border-radius: 1.25rem;
      align-items: center;
      width: 18.75rem;
      background-color: #7F6DF2; } }

@media (min-width: 40rem) {
  .cards-item {
    width: 50%; } }

@media (min-width: 56rem) {
  .cards-item {
    width: 33.3333%; } }
