@media (max-width:320px){
    .section-principal{
        width: 100%;
        height:600px;
        @include flex (row, wrap, none,none);
        background-color: #2526402f;
        text-align: left;
        div:nth-child(1){
            width:100%;
            height: 200px;
            padding: 1rem;
            h1, p{
                text-align: justify;
                font-size: map-get($size , litle );
            }
            button{
                border-radius: 1.875rem;
                border: map-get($color , cian );
                box-shadow: map-get($color , violeta );
                font-size: 1.5625rem;
                background-color: map-get($color , lila );
                a{
                    font-size: map-get($size , small );
                color: black;
                    text-decoration: none;
                }
            }
        }div:nth-child(2){
            width:100%;
            height: 25rem;
            @include flex (row,wrap, none,center);
            text-align: left;
            padding: 1.25rem;
            object-fit: cover;
            img{
                width: 7.5rem;
                height: 9.375rem;
            }
        }
    }
    
        .index-nosotros{
            width: 100%;
            height:500px;
            @include flex (row, wrap, space-around,none);
            background-color: #2526402f;
            text-align: left;
            margin: .625rem .625rem ;
            section{
                width: 100%;
                h2{
                    font-size: map-get($size, small );
                    color: black;
                    padding: 0%;
                }p{
                    color: black;
                    padding: 0%;
                    font-size: map-get($size , litle );
                }
            }section:nth-child(2){
                width:100%;
                height: 18.75rem;
                @include flex (row,nowrap, center,center);
                background-color: #2526402f;
                text-align: left;
                padding: 1.25rem;
                object-fit: cover;
                img{
                    width: 12.5rem;
                    height: 12.5rem;
                }
            }
        }
    
    
    
        .info-contenedor{
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            section{
                background-color: rgba(240, 248, 255, 0.507);
                width: 100%;
                height: 15.625rem;
                margin: 2.5rem 1.25rem;
                box-shadow: 2px 2px 5px grey;
                text-align: center;
            }
        }
        footer{
            width: 100%;
            bottom: 0; 
            left: 0;
            padding: 2rem 8%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            img{
                width: 100%;
                height: 100%;
                width: 6.25rem;
                height: 6.25rem;
            }
            div{
                display: flex;
                justify-content: center;
                align-items: center;
                flex-wrap: nowrap;
                margin-bottom: 1rem;
                a{
                    height: 3.75rem;
                    width: 3.75rem;
                    border-radius: 3.125rem;
                    border: .0625rem solid black;
                    background-image: url(../assets/img/facebook.png);
                    background-position: center;
                    background-size: 40%;
                    background-repeat: no-repeat;
                    margin: 1rem;
                    background-color: map-get($color , cian);
                    &:nth-of-type(2){
                        background-image: url(../assets/img/instagram.png);
                    }
                    &:nth-of-type(3){
                        background-image: url(../assets/img/twitter.png);
                    }
                }
            }
            ul{
                display: flex;
                flex-direction: column;
                list-style: none;
                color:map-get($color , cian );
                font-size: map-get($size , litle );
                a{
                    margin: 1rem 1.5rem;
                    cursor: pointer;
                    list-style: none;
                    color: black;
                    font-size: map-get($size , litle );
                    text-decoration: none;
                }
            }
        }
        .contenedor-form{
            display: flex;
            align-items: center;
            justify-content: center;
            div:nth-child(1){
                h1{
                    font-size: map-get($size , long );
                }
            }div:nth-child(2){
                form{
                    padding: 1rem 1rem;
                    box-shadow: 0 0 1.25rem black;
                    border-radius: 1.25rem;
                    align-items: center;
                    width:18.75rem;
                    background-color: map-get($color , lila );
                }
            }
        }
        }